body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:510px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:510px;
}
#u1 {
  position:absolute;
  left:2px;
  top:247px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:14px;
  top:11px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:270px;
  top:5px;
  width:40px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:350px;
  top:193px;
  width:300px;
  height:36px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:14px;
  top:88px;
  width:296px;
  height:132px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:132px;
}
#u11 {
  position:absolute;
  left:2px;
  top:58px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:38px;
  top:99px;
  width:64px;
  height:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:151px;
  top:98px;
  width:125px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:31px;
  top:127px;
  width:71px;
  height:83px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:83px;
}
#u17 {
  position:absolute;
  left:2px;
  top:34px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:118px;
  top:126px;
  width:172px;
  height:62px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:62px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:254px;
  top:198px;
  width:43px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:12px;
  top:229px;
  width:296px;
  height:132px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:132px;
}
#u23 {
  position:absolute;
  left:2px;
  top:58px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:36px;
  top:240px;
  width:64px;
  height:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:149px;
  top:239px;
  width:125px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:29px;
  top:268px;
  width:71px;
  height:83px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:83px;
}
#u29 {
  position:absolute;
  left:2px;
  top:34px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:116px;
  top:267px;
  width:172px;
  height:62px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:62px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:252px;
  top:339px;
  width:43px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:14px;
  top:369px;
  width:296px;
  height:132px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:132px;
}
#u35 {
  position:absolute;
  left:2px;
  top:58px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:38px;
  top:380px;
  width:64px;
  height:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:151px;
  top:379px;
  width:125px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:18px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:31px;
  top:408px;
  width:71px;
  height:83px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:83px;
}
#u41 {
  position:absolute;
  left:2px;
  top:34px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:118px;
  top:407px;
  width:172px;
  height:62px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:62px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:254px;
  top:479px;
  width:43px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:0px;
  top:470px;
  width:320px;
  height:40px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:158px;
  top:470px;
  width:81px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u49 {
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:238px;
  top:470px;
  width:81px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u51 {
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:80px;
  top:470px;
  width:79px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u53 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:470px;
  width:81px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u55 {
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:47px;
  top:56px;
  width:63px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:137px;
  top:56px;
  width:63px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:0px;
  top:470px;
  width:80px;
  height:40px;
  opacity:0;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u61 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:78px;
  top:470px;
  width:80px;
  height:40px;
  opacity:0;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u63 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:157px;
  top:470px;
  width:80px;
  height:40px;
  opacity:0;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u65 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:239px;
  top:470px;
  width:80px;
  height:40px;
  opacity:0;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u67 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:265px;
  top:0px;
  width:50px;
  height:50px;
  opacity:0;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u69 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
