body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:440px;
  width:320px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:158px;
  top:440px;
  width:81px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:440px;
  width:81px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:80px;
  top:440px;
  width:79px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:238px;
  top:440px;
  width:81px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:14px;
  top:11px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:64px;
  top:134px;
  width:10px;
  height:212px;
}
#u16_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u16_end {
  position:absolute;
  left:-5px;
  top:195px;
  width:20px;
  height:18px;
}
#u16_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:212px;
}
#u17 {
  position:absolute;
  left:46px;
  top:146px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:46px;
  top:195px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:46px;
  top:238px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:44px;
  top:289px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:106px;
  top:154px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:106px;
  top:201px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:106px;
  top:244px;
  width:144px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:18px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:106px;
  top:293px;
  width:170px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:18px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:116px;
  top:72px;
  width:61px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:20px;
  top:100px;
  width:280px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u36 {
  position:absolute;
  left:0px;
  top:440px;
  width:80px;
  height:40px;
  opacity:0;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:78px;
  top:440px;
  width:80px;
  height:40px;
  opacity:0;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:157px;
  top:440px;
  width:80px;
  height:40px;
  opacity:0;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:239px;
  top:440px;
  width:80px;
  height:40px;
  opacity:0;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:270px;
  top:5px;
  width:40px;
  height:40px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u45 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:265px;
  top:0px;
  width:50px;
  height:50px;
  opacity:0;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u47 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
