body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:440px;
  width:320px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:158px;
  top:440px;
  width:81px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:440px;
  width:81px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:80px;
  top:440px;
  width:79px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:238px;
  top:440px;
  width:81px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:14px;
  top:11px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:60px;
  top:160px;
  width:200px;
  height:160px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:160px;
}
#u17 {
  position:absolute;
  left:2px;
  top:71px;
  width:196px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:440px;
  width:80px;
  height:40px;
  opacity:0;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:78px;
  top:440px;
  width:80px;
  height:40px;
  opacity:0;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:157px;
  top:440px;
  width:80px;
  height:40px;
  opacity:0;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:239px;
  top:440px;
  width:80px;
  height:40px;
  opacity:0;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:270px;
  top:5px;
  width:40px;
  height:40px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:265px;
  top:0px;
  width:50px;
  height:50px;
  opacity:0;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
