body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:470px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:470px;
}
#u1 {
  position:absolute;
  left:2px;
  top:227px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:430px;
  width:320px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:158px;
  top:430px;
  width:81px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:238px;
  top:430px;
  width:81px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:80px;
  top:430px;
  width:79px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:430px;
  width:81px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:14px;
  top:11px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:270px;
  top:5px;
  width:40px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:350px;
  top:193px;
  width:300px;
  height:168px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:168px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:751px;
  top:303px;
  width:60px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:823px;
  top:319px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:750px;
  top:380px;
  width:60px;
  height:60px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:822px;
  top:396px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:54px;
  top:58px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:14px;
  top:78px;
  width:286px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:269px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:286px;
  height:1px;
}
#u31 {
  position:absolute;
  left:57px;
  top:98px;
  width:10px;
  height:212px;
}
#u31_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u31_end {
  position:absolute;
  left:-5px;
  top:195px;
  width:20px;
  height:18px;
}
#u31_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:212px;
}
#u32 {
  position:absolute;
  left:40px;
  top:110px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:40px;
  top:159px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:39px;
  top:202px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:38px;
  top:253px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:108px;
  top:360px;
  width:73px;
  height:18px;
  color:#0000FF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:864px;
  top:42px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:864px;
  top:60px;
  width:286px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:269px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:286px;
  height:1px;
}
#u45 {
  position:absolute;
  left:100px;
  top:118px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:100px;
  top:165px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:99px;
  top:208px;
  width:144px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:18px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:99px;
  top:257px;
  width:170px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:18px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:864px;
  top:72px;
  width:286px;
  height:140px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:140px;
}
#u54 {
  position:absolute;
  left:2px;
  top:62px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:140px;
  top:57px;
  width:10px;
  height:21px;
}
#u55_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u55_end {
  position:absolute;
  left:-5px;
  top:4px;
  width:20px;
  height:18px;
}
#u55_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:21px;
}
#u56 {
  position:absolute;
  left:184px;
  top:58px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:20px;
  top:98px;
  width:280px;
  height:51px;
  opacity:0;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:51px;
}
#u59 {
  position:absolute;
  left:2px;
  top:18px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:0px;
  top:430px;
  width:80px;
  height:40px;
  opacity:0;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u61 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:78px;
  top:430px;
  width:80px;
  height:40px;
  opacity:0;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u63 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:157px;
  top:430px;
  width:80px;
  height:40px;
  opacity:0;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u65 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:239px;
  top:430px;
  width:80px;
  height:40px;
  opacity:0;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u67 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:265px;
  top:0px;
  width:50px;
  height:50px;
  opacity:0;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u69 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
