body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:14px;
  top:11px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:102px;
  top:72px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:37px;
  top:155px;
  width:66px;
  height:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:102px;
  top:150px;
  width:200px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:49px;
  top:193px;
  width:53px;
  height:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:102px;
  top:188px;
  width:200px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:28px;
  top:235px;
  width:79px;
  height:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:104px;
  top:230px;
  width:200px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:104px;
  top:310px;
  width:100px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u18 {
  position:absolute;
  left:400px;
  top:110px;
  width:200px;
  height:141px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:141px;
}
#u19 {
  position:absolute;
  left:2px;
  top:62px;
  width:196px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:454px;
  top:212px;
  width:100px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21 {
  position:absolute;
  left:0px;
  top:440px;
  width:320px;
  height:40px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:158px;
  top:440px;
  width:81px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:440px;
  width:81px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:80px;
  top:440px;
  width:79px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:238px;
  top:440px;
  width:81px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:440px;
  width:80px;
  height:40px;
  opacity:0;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:78px;
  top:440px;
  width:80px;
  height:40px;
  opacity:0;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:157px;
  top:440px;
  width:80px;
  height:40px;
  opacity:0;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:239px;
  top:440px;
  width:80px;
  height:40px;
  opacity:0;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:270px;
  top:5px;
  width:40px;
  height:40px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:265px;
  top:0px;
  width:50px;
  height:50px;
  opacity:0;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u42 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
