body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:440px;
  width:320px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:158px;
  top:440px;
  width:81px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:440px;
  width:81px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:80px;
  top:440px;
  width:79px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:238px;
  top:440px;
  width:81px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:14px;
  top:11px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:116px;
  top:70px;
  width:87px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:20px;
  top:100px;
  width:280px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u19 {
  position:absolute;
  left:49px;
  top:159px;
  width:40px;
  height:18px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:89px;
  top:155px;
  width:168px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:49px;
  top:197px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:89px;
  top:193px;
  width:168px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25 {
  position:absolute;
  left:261px;
  top:160px;
  width:15px;
  height:15px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:261px;
  top:195px;
  width:19px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:20px;
  top:127px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:91px;
  top:123px;
  width:168px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32 {
  position:absolute;
  left:36px;
  top:230px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:88px;
  top:226px;
  width:168px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35 {
  position:absolute;
  left:260px;
  top:228px;
  width:36px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:35px;
  top:264px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:87px;
  top:260px;
  width:168px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u40 {
  position:absolute;
  left:259px;
  top:262px;
  width:36px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:44px;
  top:298px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:88px;
  top:294px;
  width:168px;
  height:25px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45 {
  position:absolute;
  left:260px;
  top:296px;
  width:34px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:17px;
  top:330px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:88px;
  top:326px;
  width:167px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u50 {
  position:absolute;
  left:259px;
  top:328px;
  width:34px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:43px;
  top:363px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:89px;
  top:359px;
  width:167px;
  height:25px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u55 {
  position:absolute;
  left:110px;
  top:401px;
  width:100px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u56 {
  position:absolute;
  left:400px;
  top:110px;
  width:200px;
  height:141px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:141px;
}
#u57 {
  position:absolute;
  left:2px;
  top:62px;
  width:196px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:454px;
  top:212px;
  width:100px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u59 {
  position:absolute;
  left:0px;
  top:440px;
  width:80px;
  height:40px;
  opacity:0;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:78px;
  top:440px;
  width:80px;
  height:40px;
  opacity:0;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:157px;
  top:440px;
  width:80px;
  height:40px;
  opacity:0;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u64 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:239px;
  top:440px;
  width:80px;
  height:40px;
  opacity:0;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u66 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:270px;
  top:5px;
  width:40px;
  height:40px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u68 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:265px;
  top:0px;
  width:50px;
  height:50px;
  opacity:0;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u70 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
