.user_avatar {
    width: 120px;
    height: 80px;
    margin: 10px auto;
}
.demo-content{
    margin: 40px 60px;
}

.webuploader-element-invisible{
    display: none;
}

.layout-outer-content{
    padding: 15px;
    margin: 10px 0px 40px 130px;
    width: 600px;
    background-color: #f6f6fb;
    border: 1px solid #c3c3d6;
}
.layout-content{
    width: 600px;
    margin: 10px 120px;
}
.img-content-li{
    width: 200px;
    height: 150px;
    margin-left: -50px;
}
.img-content-li img{
    width: 120px;
    height:90px;
}
.img-content-li p{
    padding: 2px 0px;
}

.img-delete{
    position: relative;
    top:17px;
    left: 91px;
}